# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Logs
*.log
*.log.*
log/

# Temporary files
*.bak
*.swp
*~
.#*

# Environment variables
.env

# Virtual environment
venv/

# VSCode
.vscode/

# setuptools
*.egg-info/
dist/
backterm.egg-info/

# key
Unsplash.api.key
